<h2>
	Students List <a class="btn btn-primary pull-right" href="#/students/new"><i
		class="icon-plus-sign icon-white"></i> Add Student</a>
</h2>

<table class="table table-striped">
    <tr style="font-weight: bold">
      <td style="width:15%">Reg No</td>
      <td style="width:25%">Full Name</td>
      <td style="width:25%">Address</td>
      <td style="width:20%">E-mail</td>
    </tr>
	<tr ng-repeat="student in students">
		<td><a href="#/students/{{student.id}}">{{student.registrationNumber}}</a></td>
		<td><a href="#/students/{{student.id}}">{{student.fullName}}</a></td>
                <td><a href="#/students/{{student.id}}">{{student.address}}</a></td>
                <td><a href="#/students/{{student.id}}">{{student.email}}</a></td>
	</tr>
</table>

